body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url('fort.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    filter: brightness(80%) opacity(0.8);
    
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-play {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-play:hover {
    background-color: #45a049;
}

